---
layout: base
---
{% include 'header' %}
<main>
    {% include 'aside' %}
    <section aria-labelledby="{{ title | slugify }}">
        <h1 id="{{ title | slugify }}">{{ title }}</h1>
        <p>{{ description }}</p>
        {{ content }}
    </section>
</main>
{% include 'footer' %}