---
layout: base
---
{% include 'header' %}
<main>
    {% include 'aside' %}
    <section aria-labelledby="{{ title | downcase | remove: ' ' }}">
        <h1 id="{{ title | downcase | remove: ' ' }}">{{ title }}</h1>
        <p>{{ description }}</p>
        {{ content }}
    </section>
</main>
{% include 'footer' %}